registrationConnectionString=HostName=XXXXYOURCONNECTIONSTRING
documentDBHost=https://XXXXYOURDBHOSTo-db.documents.azure.com:443/
documentDBMasterKey=jAYXXXXXYOURDOCDBMASTERKEY
sbusname=YOURSBUSNAME
sbuskey=YOURSBUSKEY
